*{

    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 70%;
    background-image: ;
    background: url(pic4.jpg) fixed -55px 0px no-repeat;

}
.mayn_body{

}
.body_paer{
    margin-top: 57px;
    height: 0px;
}
.inp{
    height: 32px;
    width: 228px;
    border-radius: 12px;
    padding: 5px;
}
#values{    
    border-radius: 9px;
    padding: 7px;}

.livetobody{
    float: left;

    margin-left: 297px;

}